.weatherBackground {
  background-image: url('../../assets/images/weatherBackground.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease;
  width: 80%;
  height: 500px;

}






